*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('https://grigoryan-m.github.io/interactive-map/res/bg.jpg');
    background-position: center center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alegreya SC';
}
.center{
    background-color: #ece4d9d5;
    max-width: 1300px;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
}

h2{
    font-size: 30px;
    color:rgb(133, 44, 44);
}

.cite cite{
    display: block;
    max-width: 80%;
    font-size: 16px;
    float: right;
}
.author{
    display: block;
    float:right;
}
.description{
    margin-top: 60px;
}

/* Abilities */

.ability-name{
    text-transform: uppercase;
    margin-top: 30px;
    color: rgb(133, 44, 44);
}
.ability-description{
    margin-top: 20px;
}

.galery-name{
    color: rgb(44, 44, 133);
    text-transform: uppercase;
    margin-top: 30px;
}
.pictures{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.pictures img{
    height: auto;
    max-width: 50%;
    max-height: 200px;
}